//variables
$color-marroncito:#4a2c2a;
$font-georgia: "Georgia", serif;
$sombreado-cajas:rgba(74, 44, 42, 0.3);
$color-naranjita:#d18c00;
$color-amarillo: #f8b500;
$color-cremita:#fed97b;
$color-mascremita: #fceabb;
$ts:0.5s ease-in-out;


// para aplicar despues
%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%btn-style {
  padding: 12px 30px;
  border-radius: 12px;
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
}

%img-cuadrada {
  width: 150px;
  max-width: 150px;
  aspect-ratio: 1/1;
  object-fit: cover;
  border: 2px solid $color-naranjita;
}

%boton-estilo {
  padding: 12px 30px;
  border-radius: 12px;
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  box-shadow: 0 4px 10px rgba(248, 181, 0, 0.5);
}

%hover-scale {
  transition: transform $ts;
  &:hover,
  &:focus {
    transform: scale(1.05);
    outline: none;
  }
}

%img-square {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

//mixis
@mixin box-shadow($color, $y: 4px, $blur: 6px) {
  box-shadow: 0 $y $blur $color;
}
@mixin responsive-text($size, $weight: 600) {
  font-size: $size;
  font-weight: $weight;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, $color-cremita, $color-amarillo);
  color: $color-marroncito;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

   
  header {
    background-color: $color-cremita;
    padding: 30px 20px;
    text-align: center;
    @include box-shadow(rgba(255, 50, 35, 0.3));

    h1 {
      margin: 0;
      font-size: 3rem;
      font-weight: 700;
      color: $color-marroncito;
      letter-spacing: 3px;
      font-family: $font-georgia;
    }

    nav {
      display: flex;
      justify-content: space-between;
      position: sticky;
      top: 0;
      z-index: 1000;
      align-items: center;
      background-color: #a65e2e;
      padding: 15px 30px;
      @include box-shadow($sombreado-cajas);


      img {
        width: 120px;
        height: auto;
        cursor: pointer;
        transition: transform $ts;
        border-radius: 8px;
        @extend %hover-scale;

        &:hover,
        &:focus {
          transform: scale(1.1);
          outline: none;
        }
      }

      ul {
        list-style: none;
        display: flex;
        gap: 30px;
        margin: 0;
        padding: 0;

        li {
          a {
            color: $color-mascremita;
            @include responsive-text(1.2rem);
            font-weight: 600;
            font-size: 1.2rem;
            padding: 8px 15px;
            border-radius: 8px;
            transition: background-color 0.3s, color 0.3s;

            &:hover,
            &:focus {
              background-color: $color-amarillo;
              color: #6b3e26;
              outline: none;
              box-shadow: 0 0 8px $color-amarillo;
            }

            &:active {
              background-color: $color-naranjita;
              color: $color-marroncito;
            }
          }
        }
      }
    }
  }
   .galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1,5rem;
    padding: 1,5rem;
    box-sizing: border-box;
    transition: transform $ts;

   &-item {
    @extend %flex-center;
    flex-direction: column;
    align-items: center;

    &-imagen {
      width: 150px;
      object-fit: cover;
      aspect-ratio: 1/1;
      border: 2px solid $color-naranjita;
      max-width: 150px;

    }

    &-caption {
      margin-top: 0.5rem;
      font-size: 0.875rem;
      text-align: center;
      font-family: $font-georgia;
    }
   }
 }


  .main-container {
    display: grid;
    grid-template-columns: 1fr 350px;
    gap: 50px;
    padding: 50px 40px;
    max-width: 1200px;
    margin: 0 auto;
    flex: 1;
    align-items: center;
  }

  main {
    section {
      text-align: center;
    }

    h2 {
      color: #6b3e26;
      font-size: 2.5rem;
      margin-bottom: 20px;
      font-weight: 700;
      font-family: $font-georgia;
    }

    p {
      font-size: 1.2rem;
      color: #5a3e36;
      line-height: 1.6;
    }
  }

  .imagen {
    width: 100%;
    @extend %hover-scale;
    max-width: 350px;
    height: auto;
    border-radius: 20px;
    @include box-shadow($sombreado-cajas, 6px, 15px);
    justify-self: center;
    align-self: center;
    transition:$ts;

    &:hover,
    &:focus {
      transform: scale(1.08);
      outline: none;
      box-shadow: 0 8px 20px rgba(248, 181, 0, 0.6);
    }
  }

  footer {
    background-color: #a65e2e;
    position: relative;
    @include responsive-text(1rem, 600);
    width: 100%;
    box-sizing: border-box;
    color: $color-mascremita;
    text-align: center;
    padding: 20px 30px;
    font-size: 1rem;
    font-weight: 600;
     @include box-shadow($sombreado-cajas, -3px, 8px);
    margin-top: auto;
    font-family: $font-georgia;
  }
  // formulario
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;

    input,
    textarea {
      width: 100%;
      padding: 12px 15px;
      margin-bottom: 20px;
      border: 2px solid $color-naranjita;
      border-radius: 12px;
      font-size: 1.1rem;
      transition: border-color 0.3s, box-shadow 0.3s;
      font-family: inherit;

      &:focus {
        border-color: $color-amarillo;
        box-shadow: 0 0 8px $color-amarillo;
      }
    }

    button {
      @extend %btn-style;
      padding: 12px 30px;
      background-color: $color-amarillo;
      color: #6b3e26;
      border-radius: 12px;
      font-size: 1.2rem;
      font-weight: 700;
      cursor: pointer;
      transition: background-color 0.3s, transform 0.2s;
      @include box-shadow(rgba(248, 181, 0, 0.5), 4px, 10px);

      &:hover,
      &:focus {
        background-color: $color-naranjita;
        transform: scale(1.05);
        box-shadow: 0 6px 15px rgba(209, 140, 0, 0.8);
      }

      &:active {
        background-color: #a67300;
        transform: scale(0.95);
        box-shadow: rgb(95, 43, 25);
      }
    }
  }

  .centrar {
    text-align: center;
  }

  .linea {
    border: 3px solid $color-naranjita;
    width: 80%;
    margin: 40px auto;
    border-radius: 8px;
  }

  .collage-adoptados {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;
    width: 100%;
    max-width: 1200px;
    margin: 20px auto 40px auto;
    height: 300px;

    img {
      width: 100%;
      height: 100%;
      @extend %img-square;
      object-fit: cover;
      display: block;
    }
  }

  @media (max-width: 900px) {
    .main-container {
      grid-template-columns: 1fr;
      padding: 30px 20px;
    }
   .galeria { 
    grid-template-columns: (2, 1fr);
    nav {
      flex-direction: column;
      gap: 20px;

      ul {
        flex-direction: column;
        gap: 15px;

        li {
          a {
            font-size: 1.3rem;
          }
        }
      }
    }

    .imagen {
      max-width: 100%;
      margin: 0 auto;
    }
  }

  @media (max-width: 600px) {
    .collage-adoptados {
      grid-template-columns: repeat(2, 1fr);
      height: 400px;
    }
  }

  @media (max-width: 400px) {
    .collage-adoptados {
      grid-template-columns: 1fr;
      height: 600px;
    }
  }
}
}